:root {
  --main-background-color: rgba(25, 25, 35, 0.8);
  --header-footer-background-color: rgba(25, 25, 35, 1);
  --yellow: rgba(253, 202, 64, 1);
  --red: rgba(177, 44, 37, 1);
  --white: rgba(235, 242, 250, 1);
  --button-color: rgba(25, 25, 35, 1);
}

h1,
h2 {
  color: var(--white);
}
p {
  text-align: center;
}
.booknow {
  display: grid;
  text-align: center;
  background-color: var(--yellow);
  min-width: 100px;
  color: var(--button-color);
  text-decoration: none;
}
.booknow:hover {
  background-color: var(--white);
}
